#navbar {
  height: 100%; }

.avatar {
  margin-bottom: 2rem;
  height: 15rem !important; }

.content {
  min-height: 68vh;
  padding: 40px 40px 0 40px; }

.post-list .lead {
  font-size: unset;
  font-weight: unset; }

.feed {
  float: right; }

#bottom-nav {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem; }

.footer {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #f7f7f7;
  padding: 3rem 55px 3rem 55px;
  margin-top: 2rem; }

@media (max-width: 991px) {
  #navbar {
    height: 300px;
    width: 100%;
    position: unset; }

  .avatar {
    height: 5rem !important; } }
@media (max-width: 543px) {
  .content {
    padding: 20px; }

  .feed {
    float: unset !important; }

  .post-list .row {
    margin-left: unset;
    margin-right: unset; }

  .footer {
    margin-left: unset;
    margin-right: unset;
    padding-left: 35px;
    padding-right: 35px; } }
@media (max-width: 351px) {
  .archive.col-xs-6 {
    padding: unset; }

  .archive {
    padding-left: 10px !important; }

  .rss.col-xs-6 {
    padding: unset;
    text-align: right; }

  .rss {
    padding-right: 10px !important; } }
